@font-face {
  font-family: anurati;
  src: url(./assets/Anurati-Regular.otf);
}

/*--------------Main Styles----------------*/

:root {
  --bg-color: #111111;
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
} 

.not-supported {
  display: none;
}

/*---------------Animations----------------*/
@keyframes fadeInUp {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*----------------Media--------------------*/

@media screen and (max-width: 960px) {
    #landing > * {
      display: none;
    }
    #work > * {
      display: none;
    };

    #cards {
      display: none;
    }

    .card {
      display: none;
    }

    header > * {
      display: none;
    }

    .not-supported {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border: 1px solid red;
      font-family: 'Roboto', sans-serif;
    }
    .text-container {
      margin: 20px;
    }

}